@import "tailwindcss";

@theme {
  --color-222222: #222222;
  --color-767676: #767676;
  --color-f5e6e0: #f5e6e0;
  --color-c32929: #c32929;

  --color-eff0f2: #eff0f2;
  --color-e5e2dd: #e5e2dd;
  --color-e7e6e4: #e7e6e4;
  --color-f5e6e0: #f5e6e0;
}

body {
  font-family: "Jost", sans-serif;
}
